<div class="col-md-3">
  <div class="text-center sidenavbar">
    <h4><%= user.name %></h4>
    <a id="logout" href="/logout">Log Out</a>
    <br><br><br><br>
    <a id="dashboard" href="/dashboard">Home</a>
    <br>
    <a id="howTo" href="/howto">How-to</a>
    <br><br>
    <a id="newInvoice" href="/newInvoice" class="btn btn-primary">New Invoice</a>
  </div>
</div>
