<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- js files -->
    <script src="scripts/app.js"></script>
    <title>Billit</title>
  </head>
  <body>
    <div class="col-md-3">
      <div class="text-center sidenavbar">
        <h4><%= user.name %></h4>
        <a id="signOut" href="/signedout">Sign Out</a>
        <br><br><br><br>
        <a id="dashboard" href="/dashboard">Home</a>
        <br>
        <a id="howTo" href="/howto">How-to</a>
        <br><br>
        <a id="newInvoice" href="/newinvoice" class="btn btn-primary">New Invoice</a>
      </div>
    </div>
  </body>
</html>
