<!DOCTYPE html>
<html lang="en" ng-app="billit">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- angular file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js" charset="utf-8"></script>

<!-- js files -->
  <script src="scripts/app.js"></script>

  <title>Bill it!</title>
</head>
<body>
<div class="row">
    <% include ../partials/sidebar %>
  <div class="col-md-8 text-center">
    <h2>Dashboard</h2><br><br><br>
    <hr>
    <div ng-controller="InvoicesIndexController as invoicesIndexCtrl">

<!-- new invoice input fields -->
    <form ng-submit="invoicesIndexCtrl.createInvoice()">
      <label for="">Invoice Title:</label>
      <input ng-model="invoicesIndexCtrl.newInvoice.title" type="text" name="Invoice title" value="">
      <label for="">Invoice Number:</label>
      <input ng-model="invoicesIndexCtrl.newInvoice.number" type="text" name="Invoice number" value="">
      <input type="submit" name="" value="submit">
      <hr>
    </form><br>

<!-- filter invoices -->
    <input type="text" class="form-group" ng-model="searchText" placeholder="Search Invoices"><br><br>

<!-- templating invoices -->
    <div ng-repeat="invoice in invoicesIndexCtrl.invoices | orderBy: 'title' | filter: searchText" class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <li class="list-group-item">
            <h4 class="inline-header">Invoice title:</h4>
            <span ng-hide="editing">{{invoice.title}}</span>
            <input ng-show="editing" ng-model="invoice.title" type="text" class="form-control input-md">
          </li>
          <li class="list-group-item">
            <h4 class="inline-header">Invoice number:</h4>
            <span ng-hide="editing">{{invoice.number}}</span>
            <input ng-show="editing" ng-model="invoice.number" type="text" class="form-control input-md">
          </li>
          <button class="btn btn-danger" ng-click="invoicesIndexCtrl.deleteInvoice(invoice)">Delete</button>
          <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit</button>
          <button class='btn btn-success' ng-show="editing" ng-click="invoicesIndexCtrl.editInvoice(invoice); editing = false">Save Changes</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>
