<!DOCTYPE html>
<html lang="en" ng-app="billit">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- angular file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js" charset="utf-8"></script>

<!-- js files -->
  <script src="scripts/app.js"></script>
  <title>Bill it!</title>
  </head>
  <body>
  <div class="row">
    <% include ../partials/sidebar %>
  <div class="col-md-8 text-center">
  <h2>Dashboard</h2><hr><br>

  <div class="text-left">
    <h4>Quick add</h4>
  </div>
<!-- angular templating -->
    <div ng-controller="InvoicesIndexController as invoicesIndexCtrl">

<!-- new invoice input fields -->
    <form ng-submit="invoicesIndexCtrl.createInvoice()">
      <div class="row">
        <div class="col-md-2">
          <!-- <label for="">User:</label> -->
          <input ng-model="invoicesIndexCtrl.newInvoice.user" type="text" name="user" class="form-control" placeholder="User">
        </div>
        <div class="col-md-2">
          <!-- <label for="">Invoice Title:</label> -->
          <input ng-model="invoicesIndexCtrl.newInvoice.title" type="text" name="Invoice title" class="form-control" placeholder="Invoice Title">
        </div>
        <div class="col-md-2">
          <!-- <label for="">Invoice Number:</label> -->
          <input ng-model="invoicesIndexCtrl.newInvoice.number" type="text" name="Invoice number" class="form-control" placeholder="Invoice Number">
        </div>
        <input type="submit" name="" value="submit" class="btn btn-primary">
      </div>
    </form><br><hr><br><br>

<!-- filter invoices -->
  <div class="row">
    <div class="col-md-4">
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search Invoices">
    </div>
  </div>
  <br><br>

<!-- table top row -->
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Title</th>
          <th>Customer Name</th>
          <th>Status</th>
          <th>Total Amount</th>
          <th>EDIT</th>
          <th>DELETE</th>
          <th>EMAIL</th>
          <th>DOWNLOAD</th>
        </tr>
      </thead>
    </table>
  </div>

<!-- angular templating and bootstrap table -->
<div ng-repeat="invoice in invoicesIndexCtrl.user.invoice | orderBy: 'title' | filter: searchText" class="row">
     <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row"><span ng-hide="editing">{{invoice.number}}</span>
          <input ng-show="editing" ng-model="invoice.number" type="text" class="form-control input-md"></th>
          <td>date</td>
          <td><span ng-hide="editing">{{invoice.title}}</span>
          <input ng-show="editing" ng-model="invoice.title" type="text" class="form-control input-md"></td>
          <td>customer name</td>
          <th>status</th>
          <th>total amount</th>
          <th>
            <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit</button>
            <button class='btn btn-success' ng-show="editing" ng-click="invoicesIndexCtrl.editInvoice(invoice); editing = false">Save Changes</button>
          </th>
          <th><button class="btn btn-danger" ng-click="invoicesIndexCtrl.deleteInvoice(invoice)">Delete</button></th>
          <th><button class="btn btn-primary" ng-click="invoicesIndexCtrl.emailReminder()">Email</button></th>
          <th><button class="btn btn-warning">Download</button></th>
        </tr>
      </tbody>
     </table>
    </div>

    </div>
   </div>
 </div>
</body>
</html>
