<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="scripts.js"></script>

  <title>Bill it!</title>
</head>
<body>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Getting started</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <% include ../partials/sidebar %>
  </div>

  <div class="col-md-7 text-center">
    <br><br><br>
    <p>Bacon ipsum dolor amet pork belly salami brisket, cupim landjaeger prosciutto rump fatback.
      Sirloin chicken ham hock landjaeger tongue brisket, ham frankfurter andouille hamburger drumstick turducken doner pork.
      Beef ribs sirloin cow pork belly shank salami corned beef t-bone boudin short loin. Picanha pastrami andouille landjaeger sausage.
      <br><br>
      Ball tip tenderloin pork strip steak short ribs boudin picanha t-bone cupim jerky venison shoulder flank.
      Turducken sausage drumstick, ham pig short loin shank frankfurter jerky shankle kielbasa beef pork chop meatball.
      Spare ribs doner sausage chicken rump venison cow hamburger meatloaf short loin shoulder filet mignon burgdoggen.
      Tongue chicken rump bacon prosciutto ham turkey pork burgdoggen shank venison.
      <br><br>
      Short loin porchetta picanha venison tenderloin meatball pork belly pork chop boudin pig rump bacon biltong.
      Meatball t-bone chicken, hamburger cow spare ribs fatback. Turkey landjaeger chicken tri-tip, shankle ham fatback
      bacon spare ribs rump ball tip capicola pig meatball bresaola. Pork chop frankfurter filet mignon strip steak, porchetta burgdoggen chicken jowl.
      Ham t-bone kielbasa short ribs sausage pancetta porchetta kevin sirloin turducken meatloaf cow cupim.
    </p>
  </div>

</body>
</html>
