<!-- full width (landing page) -->
<!DOCTYPE html>
<html ng-app="">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- angular file -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>

      <script src="scripts.js"></script>

      </script>
  </head>
<body>

<!-- Static navbar -->
      <nav class="absolute transparent">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1>Billit</h1>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a id="signUp" href="/signup">Sign up</a></li>
              <li><a id="logIn" href="/login">Log in</a></li>
            </ul>
          </div>
      </nav>

<!-- background image -->
      <div class="indexBackgroundImage text-center">
        <br><br><br><br><br>
        <h4>background image</h4>
        <img src="" alt="">
      </div>

<!-- page links -->
      <div class="row indexPageLinks">
        <div class="col-md-1">
          <a href="#indexOverview"><h4>Overview</h4></a>
        </div>
        <div class="col-md-1">
          <a href="#indexFeatures"><h4>Features</h4></a>
        </div>
        <div class="col-md-1">
          <a href="#indexPricing"><h4>Pricing</h4></a>
        </div>
      </div><br><br>

<!-- overview -->
<div id="indexOverview">
  <div class="container">
      <div class="row text-center">
        <hr>
        <h3>Overview</h3><br>
        <div class="col-md-3 indexIcons">
          <h1><span class="glyphicon glyphicon-cog"></span></h1>
          <h4>Custom Invoices</h4>
          <p>Bacon ipsum dolor amet kevin tongue boudin bresaola, fatback tail drumstick tenderloin hamburger burgdoggen.</p>
        </div>
        <div class="col-md-3 indexIcons">
          <h1><span class="glyphicon glyphicon-envelope"></span></h1>
          <h4>Email Invoices</h4>
          <p>Bacon ipsum dolor amet kevin tongue boudin bresaola, fatback tail drumstick tenderloin hamburger burgdoggen.</p>
        </div>
        <div class="col-md-3 indexIcons">
          <h1><span class="glyphicon glyphicon-usd"></span></h1>
          <h4>Accept Credit Cards</h4>
          <p>Bacon ipsum dolor amet kevin tongue boudin bresaola, fatback tail drumstick tenderloin hamburger burgdoggen.</p>
        </div>
        <div class="col-md-3 indexIcons">
          <h1><span class="glyphicon glyphicon-list"></span></h1>
          <h4>Invoices of Invoices</h4>
          <p>Bacon ipsum dolor amet kevin tongue boudin bresaola, fatback tail drumstick tenderloin hamburger burgdoggen.</p>
        </div>
      </div>
    </div>
  </div><br><br>

<!-- features -->
  <div id="indexFeatures">
    <div class="container text-center"><br><br><br><hr>
      <h3>Features</h3><br><br><br>
      <p>Bacon ipsum dolor amet kevin tongue boudin bresaola, fatback tail drumstick tenderloin hamburger burgdoggen.
        Swine burgdoggen bresaola tail, turkey sirloin prosciutto ham ham hock boudin meatball.
        Turducken cow tri-tip pork loin andouille kielbasa shankle leberkas burgdoggen prosciutto tongue.
        Turkey pork chop beef ribs, picanha ham hock meatball pork belly alcatra flank ham swine t-bone. </p>
    </div>
  </div>

<!-- pricing -->
  <div id="indexPricing">
    <div class="container text-center">
      <hr>
      <h3>Pricing</h3><br><br><br>
      <div class="row">
        <div class="box1 col-md-5 text-center">
          <br><br><br><br><br><br><h1>2.9%</h1>
        </div>
        <div class="box2 col-md-5 text-center">
          <br><br><br><br><br><br><h1>+ 30 cents</h1>
        </div>
      </div><br><br><br>
      <button type="button" class="btn btn-success btn-lg btn-block"><a href="/signup">Sign up</a></button>
    </div>
  </div>

<!-- footer -->
  <div class="indexFooter">
    <div class="row text-center"><br><br>
    <h3>Company Name, LLC</h3><br>
    <h4>Company Address</h4>
    <p>Company Contact</p>
    </div>
  </div>
</div>
</body>
</html>
