<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- angular file -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>

      <script src="scripts.js"></script>
    <title>New Invoice</title>
  </head>
  <body>
    <div class="row">
        <% include ../partials/sidebar %>
      <div class="col-md-8 text-center">
        <h2>New Invoice</h2>
        <hr>

        <!-- angular templating -->
            <div ng-controller="InvoicesIndexController as invoicesIndexCtrl">

        <!-- new invoice input fields -->
            <form ng-submit="invoicesIndexCtrl.createInvoice()">
              <label for="">User:</label>
              <input ng-model="invoicesIndexCtrl.newInvoice.user" type="text" name="user" value="">
              <label for="">Invoice Title:</label>
              <input ng-model="invoicesIndexCtrl.newInvoice.title" type="text" name="Invoice title" value="">
              <label for="">Invoice Number:</label>
              <input ng-model="invoicesIndexCtrl.newInvoice.number" type="text" name="Invoice number" value="">
              <input type="submit" name="" value="submit">
              <hr>
            </form><br>
            </div>
      </div>
    </div>
  </body>
</html>
