<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/theme.css">
    <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- angular file -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>

      <script src="scripts/app.js"></script>
    <title>Signed Out</title>
  </head>
  <body>
    <div class="container text-center">


      <div class="row">
        <div class="col-md-6 col-md-offset-3 registrationbox">
          <h3>See you on the next project!</h3>
          <hr><br><br>
          <a id="newInvoice" href="/login" class="btn btn-outline-success btn-lg btn-block">log back in</a>
        </div>
      </div>


    </div>
  </body>
</html>
