.box {
  border: 1px solid red;
}

.sidenavbar {
  width: 200px;
  height: 100vh;
  position: fixed;
  border-radius: 2px;
  background-color: #778899;
  /*box-shadow: 3px 3px 3px #888888;*/
  padding: 200px 0 100% 0;
}

.indexBackgroundImage {
  color: #464545;
  border: 1px solid #1e8bc3;
  height: 600px;
  background-color: #1e8bc3;
}

.indexPageLinks {
  margin-left: 20px;
}

#indexOverview {
  height: 300px;
}

.indexIcons {
  margin-top: 40px;
}

#indexFeatures {
  height: 400px;
}

.box1 {
  margin-left: 70px;
  border-radius: 5px;
  background-color: #ededed;
  height: 400px;
  width: 500px;
}

.box2 {
  margin-left: 30px;
  border-radius: 5px;
  background-color: #ededed;
  height: 400px;
  width: 500px;
}

.indexFooter {
  margin-top: 100px;
  color: white;
  height: 250px;
  background-color: #666666;
}
